
<div class="path-block" data-itemID="{{id}}">
    <h2 class="clickable openPopout {{~#unless data.data.title}} alignCenter{{/unless}}" data-itemID="{{id}}">
        {{~#if data.data.title~}}
            {{name}}: &quot;{{data.data.title}}&quot;
        {{~else~}}
            {{loc "scion.heading.chargen.pathTitlePlaceholder" "pathType" (concat "scion.path." data.data.type)}}
        {{~/if~}}
    </h2>
    <div class="pathContainer flex-row-start width100">
        <div class="path-subBlock-skills flex-col-stretch alignCenter">
            {{#if data.data.skills.[0]}}
                <span class="skill noFlex {{~#if (test name "==" "Pantheon")}} pantheon{{/if}}">{{loc (concat "scion.skill." data.data.skills.[0])}}</span>
            {{else}}
                <span class="skill empty noFlex">&nbsp;</span>
            {{/if}}
            {{#if data.data.skills.[1]}}
                <span class="skill noFlex {{~#if (test name "==" "Pantheon")}} pantheon{{/if}}">{{loc (concat "scion.skill." data.data.skills.[1])}}</span>
            {{else}}
                <span class="skill empty noFlex">&nbsp;</span>
            {{/if}}
            {{#if data.data.skills.[2]}}
                <span class="skill noFlex">{{loc (concat "scion.skill." data.data.skills.[2])}}</span>
            {{else}}
                <span class="skill empty noFlex">&nbsp;</span>
            {{/if}}
        </div>
        <div class="path-subBlock-details flex-col height100 width100 alignLeft">
            <div class="text connectionDescription">
                {{#if data.data.connectionDescription}}<span class="strong">{{loc "scion.path.connections"}}:</span> {{data.data.connectionDescription}}{{/if}}
            </div>
            <div class="conditionContainer alignRight width100">
                {{#each (lookup actor.pathConditions data.data.type) as |condition type|}}
                    {{~#if condition.iData.title~}}
                    <span class="width10 alignCenter strong">►</span>
                    <span class="conditionSummary outsetFrame width40 alignCenter strong">
                            {{condition.iData.title}}
                    </span>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>