{{#if calling}}
<div class="popout knacksList flex-col alignCenter float{{#if (test index "==" 0)}}Left{{/if}}{{#if (test index "==" 1)}}Bottom{{/if}}{{#if (test index "==" 2)}}Right{{/if}}">
    <h1 class="knackCategory alignCenter">{{loc (concat "scion.calling." calling.name ".name")}}</h1>
    <div class="flex-{{#if (test index "==" 1)}}row-wrap{{else}}col{{/if}} knackBin knackSource" data-binid="knacksSource-{{calling.name}}">
        {{#each calling.availableKnacks.immortal as |knack|}}
        <span class="tooltip tipUp{{#if (test ../index "==" 0)}}Left{{else}}{{#if (test ../index "==" 2)}}Right{{/if}}{{/if}} knack knackHandle immortal short noFlex {{checkInvalid "knack:immortal" knack ../calling.name}}" data-calling="{{../calling.name}}" data-knack="{{knack}}">
            {{> (../blocks.tooltips.template) (lookup ../tooltips knack)}}
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{#each calling.availableKnacks.heroic as |knack|}}
        <span class="tooltip tipUp{{#if (test ../index "==" 0)}}Left{{else}}{{#if (test ../index "==" 2)}}Right{{/if}}{{/if}} knack knackHandle noFlex {{checkInvalid "knack:heroic" knack ../calling.name}}" data-calling="{{../calling.name}}" data-knack="{{knack}}">
            {{> (../blocks.tooltips.template) (lookup ../tooltips knack)}}
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
    </div>
</div>
{{else}}
<div class="popout knacksList flex-col alignCenter floatTop">
    <div class="flex-row-wrap knackBin knackSource" data-binid="knacksSource-generic">
        {{#if (test (math (count knacks.immortal) "+" (count knacks.heroic)) ">" 0)}}
        {{#each knacks.immortal as |knack|}}
        <span class="tooltip tipUp knack generic knackHandle immortal short noFlex {{checkInvalid "knack:immortal" knack}}" data-calling="any" data-knack="{{knack}}">
            {{> (../blocks.tooltips.template) (lookup ../tooltips knack)}}
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{#each knacks.heroic as |knack|}}
        <span class="tooltip tipUp knack generic knackHandle noFlex {{checkInvalid "knack:heroic" knack}}" data-calling="any" data-knack="{{knack}}">
            {{> (../blocks.tooltips.template) (lookup ../tooltips knack)}}
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{/if}}
    </div>
</div>
{{/if}}