
<div class="calling callingDrop {{#if name}}{{name}}{{else}}generic{{/if}} alignCenter" data-slot="{{@index}}">
    {{#if name}}
    <h1 class="handle">{{name}}</h1>
    <div class="dotline space5 flex-row alignCenter noLabel">
        <div class="dotContainer blanks">{{#for 5}}<span class="dot"></span>{{/for}}</div>
        <div class="chargenFourDotBin dotBin dotContainer fader" data-types="calling" data-calling="{{name}}" data-binid="{{name}}" data-field="data.callings.list.@.value" data-fieldindex="{{@index}}">
        {{#for value}}
            <span class="dot" data-types="{{dottype "calling" name @index}}"></span>
        {{/for}}
        </div>
    </div>
    {{/if}}
</div>