{{#if calling.name}}
<div class="calling callingDrop {{calling.name}} alignCenter" data-calling="{{calling.name}}" data-slot="{{index}}" data-binid="calling-{{index}}">
    <h1 class="callingHeader handle {{#if (test calling.name "in" callings.available.patron)}}patron{{/if}}" data-calling="{{calling.name}}">{{calling.name}}</h1>
    <div class="dotline space5 flex-row alignCenter noLabel">
        <div class="dotContainer blanks">{{#for 5}}<span class="dot"></span>{{/for}}</div>
        <div class="chargenFourDotBin dotBin dotContainer fader" data-types="calling" data-calling="{{calling.name}}" data-binid="{{calling.name}}" data-field="data.callings.list.{{calling.name}}.value">
        {{#for calling.value}}
            <span class="dot" data-types="{{dottype "calling" calling.name (math @index "++")}}"></span>
        {{/for}}
        </div>
    </div>
    <h2>Knacks</h2>
    <div class="knacks flex-col-start knackDrop alignCenter height30 width100" data-calling="{{calling.name}}" data-binid="{{calling.name}}-knacks">
        {{#for calling.value}}
        {{#with (lookup ../calling.knacks @index) as |knack|}}
        {{#if knack}}
        <span class="knack {{#if (test knack.tier "==" "immortal")}}immortal{{/if}}" data-calling="{{../calling.name}}" data-knack="{{knack.name}}">{{loc (concat "scion.knack." knack.name ".name")}}</span>
        {{else}}
        <span class="knack {{#if (test knack.tier "==" "immortal")}}immortal{{/if}}" data-calling="{{../calling.name}}" data-knack="empty">&nbsp;</span>
        {{/if}}
        {{/with}}
        {{/for}}
    </div>
    <h2>Keywords</h2>
    <div class="keywords flex-col-start alignCenter height30 width100">
        {{#for calling.value}}
        <div class="contentEditable outsetFrame width70 text" data-field="data.callings.list.{{../calling.name}}.keywordsChosen" data-fieldindex="{{@index}}"></div>
        {{/for}}
    </div>
</div>
{{else}}
<div class="calling callingDrop generic alignCenter" data-calling="empty" data-slot="{{index}}" data-binid="calling-{{index}}">
    <h1 class="handle" data-calling="empty">&nbsp;</h1>
</div>
{{/if}}