<div class="grid span1col">
    <select class="chargen tier" name="data.tier">
        <option name=""></option>
        {{selectOptions CHARGEN.tierList selected=data.tier}}
    </select>
</div>
<div class="grid span2col">  
    <select class="chargen pantheon" name="data.pantheon">
        <option name=""></option>
        {{selectOptions CHARGEN.pantheonList selected=data.pantheon}}
    </select>
</div>
<div class="grid span2col">  
    <select class="chargen heritage" name="data.heritage">
        <option name=""></option>
        {{selectOptions CHARGEN.heritageList selected=data.heritage}}
    </select>
</div> 
<div class="grid span3col"> 
    {{#if CHARGEN.parentList}}                           
    <select class="chargen parent" name="data.parent.name">
        <option name=""></option>
        {{selectOptions CHARGEN.parentList selected=data.parent.name}}
    </select>                           
    {{/if}}
</div>

<div class="grid span2col heading">Prioritize Attributes:</div>
<div id="prioritySortStorage" class="grid span6col">
    <div id="prioritySort" class="container sortOnly" data-actorid="{{this.actor._id}}">
        <div class="dragItem physical">Physical</div>
        <div class="dragItem mental">Mental</div>
        <div class="dragItem social">Social</div>
    </div>
</div>

<div class="grid span2col">
    {{#if CHARGEN.showFavoredApproach}}           
    <select class="chargen priority" name="data.favoredApproach">
        <option name=""></option>
        {{selectOptions CHARGEN.favoredApproachList selected=data.favoredApproach}}
    </select>
    {{/if}}
</div>
<div class="grid span1col">
    <input class="chargen" type="number" name="data.dotsPurchased" value="{{data.dotsPurchased}}" style="font-size: 1rem;">
</div>
