<form class="{{cssClass}} {{actor.type}} {{data.pantheon}}" autocomplete="off">

    {{!-- Radial Menu Tab Navigation --}}
    <nav class="sheet-tabs menuRosette" data-group="primary">
        <div class="circleMenuContainer">
          <div class="menuButtonContainer">
            <div class="menuButton">
              <div class="menuIcon iconSettings">
                <a class="item" data-tab="details"></a>
              </div>
              <div class="menuText">{{loc "scion.heading.main.detailsTab"}}</div>
            </div>
          </div>
          <div class="menuButtonContainer">
            <div class="menuButton">
              <div class="menuIcon iconMain">
                  <a class="item" data-tab="front"></a>
              </div>
              <div class="menuText">{{loc "scion.heading.main.frontTab"}}</div>
            </div>
          </div>
          <div class="menuButtonContainer">
            <div class="menuButton">
              <div class="menuIcon iconHeritage">
                <a class="item" data-tab="heritage"></a>
              </div>
              <div class="menuText">{{loc "scion.heading.main.heritageTab"}}</div>
            </div>
          </div>
          <div class="menuButtonContainer">
            <div class="menuButton">
              <div class="menuIcon iconExperience">
                <a class="item" data-tab="experience"></a>
              </div>
              <div class="menuText">{{loc "scion.heading.main.experienceTab"}}</div>
            </div>
          </div>
          <div class="menuButtonContainer">
            <div class="menuButton">
              <div class="menuIcon iconChargen">
                <a class="item" data-tab="chargen"></a>
              </div>
              <div class="menuText">{{loc "scion.heading.main.chargenTab"}}</div>
            </div>
          </div>
        </div>
    </nav>
    <div class="closeButton">❌</div>

    <section id="characterSheet" class="editable major {{data.pantheon}} grid main">
        {{!-- Sheet Header --}}
        <section class="header grid">
            <div class="divineTitle h2 noBG alignCenter">{{~data.divineTitle~}}</div>
            <div class="charName title contentEditable alignCenter" data-field="name"></div>
            <div class="patronage h3 noBG alignCenter">&nbsp;{{~data.patronageLine~}}&nbsp;</div>
        </section>
            
        <section class="sheet-body grid">
            {{!-- Chargen Tab --}}
            <section class="tab flex-col" data-group="primary" data-tab="chargen">
                {{> (blocks.chargen.template) }}
            </section>
            {{!-- Front Tab --}}
            <section class="tab" data-group="primary" data-tab="front">
                <section class="front-body grid">
                    <div class="skills flex-col">
                        <h1>{{loc "scion.game.skills"}}</h1>
                        {{#if data.skills.unspentDots}}
                            <div class="dotGrabBin dotDropBin flex">
                                {{#for data.skills.unspentDots}}
                                    <span class="dot-unspent" data-dottype="skill" data-trait="data.skills.unspentDots"></span>
                                {{/for}}
                            </div>
                        {{/if}}
                        {{#each skillVals as |value skill|}}
                            <div class="dotDropBin dotline-labelled" data-dottype="skill" data-trait="data.skills.list.{{skill}}">
                                <div class="label">{{loc (concat "scion.skill." skill)}}</div>
                                {{#for 5}}
                                    <span class="dot{{#if (gte value @index)}}-full{{/if}} click" data-dottype="skill" data-trait="data.skills.list.{{skill}}" data-val="{{add @index 1}}"></span>
                                {{/for}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            </section>
            {{!-- Divine Genesis Tab --}}
            <section class="tab" data-group="primary" data-tab="genesis">
                <div class="genesis grid">
                    <div class="genesis text">Genesis</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </section>
            {{!-- Details Tab --}}
            <section class="tab" data-group="primary" data-tab="details">
                <div class="details grid">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </section>
            {{!-- Experience Tab --}}
            <section class="tab" data-group="primary" data-tab="experience">
                <div class="experience grid">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </section>
        </section>

        <div class="footer grid">
            <div class="subTitle">&nbsp;</div>
            <div class="title">&nbsp;</div>
            <div class="surTitle">&nbsp;</div>
        </div>
    </section>
</form>