<div class="grid span8col"><span class="heading1">{{localize "scion.headings.charGenStep1"}}</span></div>
<div class="grid span8col"></div>

<div class="grid span8col"><span class="heading2">{{localize "scion.game.concept"}}</span></div>
<div class="grid span8col text edit" data-path="data.concept"></div>
<div class="grid span8col"></div>

<div class="grid span2col"><span class="heading2">{{localize "scion.game.tier"}}</span></div>
<div class="grid span4col"><span class="heading2">{{localize "scion.game.pantheon"}}</span></div>
<div class="grid span2col"><span class="heading2">{{localize "scion.game.genesis"}}</span></div>

<div class="grid span2col">
    <select class="chargen tier edit" name="data.tier">
        <option name="" value="" selected hidden disabled></option>
        {{selectOptions config.tierList selected=data.tier}}
    </select>
</div>
<div class="grid span4col">  
    <select class="chargen pantheon edit" name="data.pantheon">
        <option name="" value="" selected hidden disabled></option>
        {{selectOptions config.pantheonList selected=data.pantheon}}
    </select>
</div>
<div class="grid span2col">  
    <select class="chargen genesis edit" name="data.genesis">
        <option name="" value="" selected hidden disabled></option>
        {{selectOptions config.genesisList selected=data.genesis}}
    </select>
</div>
<div class="grid span8col"></div>

{{#if data.charGen.patronList}}  
<div class="grid span8col"><span class="heading2">{{localize "scion.game.divinePatron"}}</span></div>
<div class="grid span8col">                             
    <select class="chargen patron edit" name="data.patron.name">
        <option name="" value="" selected hidden disabled></option>
        {{selectOptions data.charGen.patronList selected=data.patron.name}}
    </select> 
</div>                          
{{/if}}


