{{!-- Sheet Tab Navigation --}}
<nav class="chargen-tabs tabs" data-group="chargen">
    <a class="item" data-tab="step-one">One</a>
    <a class="item" data-tab="step-two">Two</a>
    <a class="item" data-tab="step-three">Three</a>
    <a class="item" data-tab="step-four">Four</a>
    <a class="item" data-tab="step-five">Five</a>
    <a class="item" data-tab="step-size">Six</a>
    <a class="item" data-tab="step-seven">Seven</a>
</nav>

<section class="chargen-body">
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-one">
        <div class="heading1">{{localize "scion.headings.charGenStep1"}}</div>
        <div class="flex flexRow">
            <span class="heading3">{{localize "scion.headings.charGenStep1A"}}</span>
            <select class="edit quarter" name="data.genesis" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.genesisPlaceholder"}}</option>
                {{selectOptions config.genesisList selected=data.genesis}}
            </select>
            <span class="heading3 alignCenter">of the</span>
            <select class="edit quarter" name="data.pantheon" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.pantheonPlaceholder"}}</option>
                {{selectOptions config.pantheonList selected=data.pantheon}}
            </select> 
        </div>
        {{#if data.charGen.patronList}}
        <div class="flex flexRow">
            <span class="heading3 flexLabel">{{localize "scion.headings.charGenStep1B"}}</span>
            <select class="edit" name="data.patron" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.divinePatronPlaceholder"}}</option>
                {{selectOptions data.charGen.patronList selected=data.patron}}
            </select>
        </div>
            {{#if data.patron}}
            <div class="flex flexRow">
                <span class="heading3 flexLabel">{{localize "scion.headings.charGenStep1C"}}</span>
                <div id="concept" class="edit contentEditable" data-path="data.concept" data-placeholder="{{localize "scion.headings.conceptPlaceholder"}}"></div>
            </div>
                {{#if data.concept}}
                <div class="heading3 alignCenter">{{localize "scion.headings.charGenStep1D"}}</div>
                <div class="flex flexRow">
                    <div id="shortTermDeed" class="edit contentEditable" data-placeholder="{{localize "scion.headings.shortTermDeedPlaceholder"}}"></div>
                    <div id="longTermDeed" class="edit contentEditable" data-placeholder="{{localize "scion.headings.longTermDeedPlaceholder"}}"></div>
                </div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-two">
        <div class="heading1">{{localize "scion.headings.charGenStep2"}}</div>
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-three">
        <div class="heading1">{{localize "scion.headings.charGenStep3"}}</div>
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-four">
        <div class="heading1">{{localize "scion.headings.charGenStep4"}}</div>
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-five">
        <div class="heading1">{{localize "scion.headings.charGenStep5"}}</div>
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-six">
        <div class="heading1">{{localize "scion.headings.charGenStep6"}}</div>
    </div>
    <div class="tab flex flexContainer" data-group="chargen" data-tab="step-seven">
        <div class="heading1">{{localize "scion.headings.charGenStep7"}}</div>
    </div>
</section>