<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="1">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep1"}}</div>
    <div class="drawerContents">
        <div class="heading2">{{localize "scion.headings.charGenStep1A"}}</div>
        <div class="flex flexRow">
            <select class="edit quarter" name="data.tier" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.game.tier"}}</option>
                {{selectOptions config.tierList selected=data.tier}}
            </select>                 
            <select class="edit quarter" name="data.genesis" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.genesisPlaceholder"}}</option>
                {{selectOptions config.genesisList selected=data.genesis}}
            </select>
            <select class="edit half" name="data.pantheon" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.pantheonPlaceholder"}}</option>
                {{selectOptions config.pantheonList selected=data.pantheon}}
            </select>
        </div>
        {{#if data.charGen.patronList}}
        <div class="heading2">{{localize "scion.headings.charGenStep1B"}}</div>
        <div class="flex flexRow">
            <select class="edit" name="data.patron.name" required>
                <option name="" value="" selected hidden disabled>{{localize "scion.headings.divinePatronPlaceholder"}}</option>
                {{selectOptions data.charGen.patronList selected=data.patron.name}}
            </select>
        </div>
            {{#if data.patron.name}}
            <span class="flexLabel heading2">{{localize "scion.game.concept"}}: </span>
            <div class="flex flexRow">
                <div id="concept" class="edit contentEditable" data-path="data.concept" data-placeholder="{{localize "scion.headings.conceptPlaceholder"}}"></div>
            </div>
            {{/if}}
        {{/if}}
    </div>
</div>
<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="2">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep2"}}</div>
    <div class="drawerContents">
        <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div>
        <div class="flex flexRow">
            <div class="path">Role</div>
            <div class="path">Origin</div>
            <div class="path">Pantheon</div>
        </div>
    </div>
</div>
<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="3">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep3"}}</div>
    <div class="drawerContents">
        {{!-- <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div> --}}
        <div class="flex flexRow">
            <div class="edit editable">Step Three!</div>
        </div>
    </div>
</div>

<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="4">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep4"}}</div>
    <div class="drawerContents">
        {{!-- <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div> --}}
        <div class="flex flexRow">
            <div class="edit editable">Step Four!</div>
        </div>
    </div>
</div>

<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="5">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep5"}}</div>
    <div class="drawerContents">
        {{!-- <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div> --}}
        <div class="flex flexRow">
            <div class="edit editable">Step Five!</div>
        </div>
    </div>
</div>

<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="6">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep6"}}</div>
    <div class="drawerContents">
        {{!-- <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div> --}}
        <div class="flex flexRow">
            <div class="edit editable">Step Six!</div>
        </div>
    </div>
</div>

<div class="flex flexContainer drawerContainer">
    <input class="charGenToggle" type="checkbox" data-chargenstep="7">
    <div class="heading1 drawerLabel">{{localize "scion.headings.charGenStep7"}}</div>
    <div class="drawerContents">
        {{!-- <div class="heading2">{{localize "scion.headings.charGenStep2A"}}</div> --}}
        <div class="flex flexRow">
            <div class="edit editable">Step Seven!</div>
        </div>
    </div>
</div>