<form class="{{cssClass}} {{actor.type}} {{data.pantheon}}" autocomplete="off">
    <div class="grid main">
        {{!-- Menu Rosette --}}
        <div class="menuRosette"></div>
        
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="chargen">{{localize "scion.headings.main.chargenTab"}}</a>
            <a class="item" data-tab="front">{{localize "scion.headings.main.frontTab"}}</a>
            <a class="item" data-tab="heritage">{{localize "scion.headings.main.heritageTab"}}</a>
            <a class="item" data-tab="details">{{localize "scion.headings.main.detailsTab"}}</a>
            <a class="item" data-tab="experience">{{localize "scion.headings.main.experienceTab"}}</a>
        </nav>

        {{!-- Sheet Header --}}
        <div class="header grid">
            <div class="divineTitle surTitle">{{~data.divineTitle~}}</div>
            <div class="charName title contentEditable" data-path="actor.name"></div>
            <div class="patronage subTitle">{{~data.patronageLine~}}</div>
        </div>
            
        <section class="sheet-body">
            {{!-- Chargen Tab --}}
            <div class="tab" data-group="primary" data-tab="chargen">
                {{> (blocks.chargen.template) }}
            </div>

            {{!-- Front Tab --}}
            <div class="tab" data-group="primary" data-tab="front">
                <div class="front grid">
                    <div class="attributes flex">
                        <div class="heading1">{{localize "scion.game.attributes"}}</div>
                        {{#if data.attributes.unspentDots.general}}
                            <div class="dotGrabBin dotDropBin flex">
                                {{#for data.attributes.unspentDots.general}}
                                    <span class="dot unspent" data-dottype="primary|secondary|tertiary" data-trait="data.attributes.unspentDots.general"></span>
                                {{/for}}
                            </div>
                        {{/if}}
                        {{#each data.attributes.priorities as |arena priority|}}
                            <div class="attrBlock {{arena}} flex">
                                {{#if data.attributes.unspentDots.[arena]}}
                                    <div class="dotGrabBin dotDropBin flex"> 
                                        {{#for data.attributes.unspentDots.[arena]}}
                                            <span class="dot unspent" data-dottype="{{arena}}" data-trait="data.attributes.unspentDots.{{arena}}"></span>
                                        {{/for}}
                                    </div>
                                {{/if}}
                                {{#each (lookup ../config.ATTRIBUTES.arenas arena) as |attribute|}}
                                    <div class="attrRow dotDropBin dotline labelledDotLine" data-dottype="{{arena}}" data-trait="{{attribute}}">
                                        <div class="label">{{localize (concat "scion.attributes." attribute)}}</div>
                                        {{#for 5}}
                                            <span class="dot click {{dotstate attribute @index}}" data-dottype="{{arena}}" data-trait="{{attribute}}" data-val="{{@index}}"></span>
                                        {{/for}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="paths flex">
                        <div class="heading text heading1">{{localize "scion.game.paths"}}</div>
                        <div class="originpath"></div>
                        <div class="rolepath"></div>
                        <div class="pantheonpath"></div>
                    </div>
                    <div class="virtues grid">
                        {{#if data.pantheon}}
                        {{#with (lookup config.PANTHEONS data.pantheon) as | pantheon |}}
                        <div class="leftvirtue strong text">{{localize (concat "scion.virtues." pantheon.virtues.[0])}}</div>
                        <div class="dotline largeDots">
                            {{#for 5}}
                                <span class="dot {{#if (eq (lookup ../data.virtue [value]) @index)}}virtueFull{{/if}} {{#if (eq @index 3)}}virtueCenter{{/if}}" data-trait="virtue" data-val="{{@index}}"></span>
                            {{/for}}
                        </div>
                        <div class="rightvirtue strong text alignRight">{{localize (concat "scion.virtues." pantheon.virtues.[1])}}</div>
                        {{/with}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- Divine Genesis Tab --}}
            <div class="tab" data-group="primary" data-tab="genesis">
                <div class="genesis grid">
                    <div class="genesis text">Genesis</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </div>
            {{!-- Details Tab --}}
            <div class="tab" data-group="primary" data-tab="details">
                <div class="details grid">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </div>
            {{!-- Experience Tab --}}
            <div class="tab" data-group="primary" data-tab="experience">
                <div class="experience grid">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </div>
        </section>
    </div>
</form>