<form class="{{cssClass}} {{actor.type}} {{data.pantheon}}" autocomplete="off">
    {{log "!!!!!!!!!!!!!!!!!!"}} 
    {{log this}}
    <div class="grid main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item icon" data-tab="settings"><i class="fas fa-cog"></i></a>
                <a class="item" data-tab="front">Front</a>
                <a class="item" data-tab="heritage">Divine Heritage</a>
                <a class="item" data-tab="details">Details</a>
                <a class="item" data-tab="experience">Experience</a>
            </nav>

            {{!-- Sheet Header --}}
            <div class="header grid">
                <div class="title text edit" data-path="data.divineTitle"></div>
                <div class="charName text edit" data-path="actor.name"></div>
                <div class="parentage text"><textarea class="readonly" name="data.parentageLine" readonly >{{data.parentageLine}}</textarea></div>
            </div>
                <!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>     -->      
                
            <section class="sheet-body">
                {{!-- Settings Tab --}}
                <div class="tab settings grid {{blocks.chargen.class}}" data-group="primary" data-tab="settings">
                    {{> (blocks.chargen.template) }}
                </div>
                {{!-- Front Tab --}}
                <div class="tab front grid" data-group="primary" data-tab="front">
                    <div class="attributes flex">
                        <div class="heading">Attributes</div>
                        {{#if data.generalUnspentDots}}
                            <div class="dotGrabBin dotDropBin flex">
                                {{#for data.generalUnspentDots}}
                                    <span class="dot unspent" data-dottype="primary|secondary|tertiary" data-trait="generalUnspentDots"></span>
                                {{/for}}
                            </div>
                        {{/if}}
                        {{#each data.priorities as |category key|}} 
                            <div class="attrBlock {{key}} flex">
                                {{#if category.unspentDots}}
                                    <div class="dotGrabBin dotDropBin flex"> 
                                        {{#for category.unspentDots}}
                                            <span class="dot unspent" data-dottype="{{key}}" data-trait="priorities.{{key}}.unspentDots"></span>
                                        {{/for}}
                                    </div>
                                {{/if}}
                                {{#each category.attributes as |attribute|}}
                                    <div class="attrRow dotDropBin grid" data-dottype="{{key}}" data-trait="{{attribute}}">
                                        <div class="label">{{display "ATTRIBUTES.all" attribute}}</div>
                                        {{#for 5}}
                                            <span class="dot click {{dotstate attribute @index}}" data-dottype="{{key}}" data-trait="{{attribute}}" data-val="{{@index}}"></span>
                                        {{/for}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="paths grid">
                        <div class="heading">Paths</div>
                        <div class="originpath"></div>
                        <div class="rolepath"></div>
                        <div class="pantheonpath"></div>
                    </div>
                    <div class="virtues grid">
                        <div class="leftvirtue text">Honor</div>
                        <div class="dotline">
                            {{#for 5}}
                                <span class="dot" data-trait="virtue" data-val="{{@index}}"></span>
                            {{/for}}
                        </div>
                        <div class="rightvirtue text">Prowess</div>
                    </div>
                </div>
                {{!-- Divine Heritage Tab --}}
                <div class="tab heritage grid" data-group="primary" data-tab="heritage">
                    <div class="heritage text">Heritage</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
                {{!-- Details Tab --}}
                <div class="tab details grid" data-group="primary" data-tab="details">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
                {{!-- Experience Tab --}}
                <div class="tab experience grid" data-group="primary" data-tab="experience">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </section>
        </div>
</form>