<form class="{{cssClass}} {{actor.type}} {{data.pantheon}}" autocomplete="off">
    {{log "!!!!!!!!!!!!!!!!!!"}} 
    {{log this}}
    {{log this.actor.data}}
    {{log "##################"}}
    <div class="grid main">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="chargen">Chargen</a>
                <a class="item" data-tab="front">Front</a>
                <a class="item" data-tab="heritage">Divine Heritage</a>
                <a class="item" data-tab="details">Details</a>
                <a class="item" data-tab="experience">Experience</a>
            </nav>

            {{!-- Menu Rosette --}}
            <div class="menuRosette"></div>

            {{!-- Sheet Header --}}
            <div class="header grid">
                <div class="divineTitle text surTitle edit contentEditable" data-path="data.divineTitle"></div>
                <div class="charName text title edit contentEditable" data-path="actor.name"></div>
                <div class="patronage"><textarea class="subTitle text readonly" name="data.patronageLine" readonly >{{data.patronageLine}}</textarea></div>
            </div>
                
            <section class="sheet-body">
                {{!-- Chargen Tab --}}
                <div class="tab chargen {{blocks.chargen.class}}" data-group="primary" data-tab="chargen">
                    {{> (blocks.chargen.template) }}
                </div>
                {{!-- Front Tab --}}
                <div class="tab front grid" data-group="primary" data-tab="front">
                    <div class="attributes flex">
                        <div class="heading1">Attributes</div>
                        {{#if data.attributes.unspentDots.general}}
                            <div class="dotGrabBin dotDropBin flex">
                                {{#for data.attributes.unspentDots.general}}
                                    <span class="dot unspent" data-dottype="primary|secondary|tertiary" data-trait="data.attributes.unspentDots.general"></span>
                                {{/for}}
                            </div>
                        {{/if}}
                        {{#each data.attributes.priorities as |arena priority|}}
                            <div class="attrBlock {{arena}} flex">
                                {{#if data.attributes.unspentDots.[arena]}}
                                    <div class="dotGrabBin dotDropBin flex"> 
                                        {{#for data.attributes.unspentDots.[arena]}}
                                            <span class="dot unspent" data-dottype="{{arena}}" data-trait="data.attributes.unspentDots.{{arena}}"></span>
                                        {{/for}}
                                    </div>
                                {{/if}}
                                {{#each (lookup ../config.ATTRIBUTES.arenas arena) as |attribute|}}
                                    <div class="attrRow dotDropBin dotline labelledDotLine" data-dottype="{{arena}}" data-trait="{{attribute}}">
                                        <div class="label">{{localize (concat "scion.attributes." attribute)}}</div>
                                        {{#for 5}}
                                            <span class="dot click {{dotstate attribute @index}}" data-dottype="{{arena}}" data-trait="{{attribute}}" data-val="{{@index}}"></span>
                                        {{/for}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="paths flex">
                        <div class="heading text heading1">Paths</div>
                        <div class="originpath"></div>
                        <div class="rolepath"></div>
                        <div class="pantheonpath"></div>
                    </div>
                    <div class="virtues grid">
                        {{#if data.pantheon}}
                        {{#with (lookup config.PANTHEONS data.pantheon) as | pantheon |}}
                        <div class="leftvirtue strong text">{{localize (concat "scion.virtues." pantheon.virtues.[0])}}</div>
                        <div class="dotline largeDots">
                            {{#for 5}}
                                <span class="dot {{#if (eq (lookup ../data.virtue [value]) @index)}}virtueFull{{/if}} {{#if (eq @index 3)}}virtueCenter{{/if}}" data-trait="virtue" data-val="{{@index}}"></span>
                            {{/for}}
                        </div>
                        <div class="rightvirtue strong text alignRight">{{localize (concat "scion.virtues." pantheon.virtues.[1])}}</div>
                        {{/with}}
                        {{/if}}
                    </div>
                </div>
                {{!-- Divine Genesis Tab --}}
                <div class="tab genesis grid" data-group="primary" data-tab="genesis">
                    <div class="genesis text">Genesis</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
                {{!-- Details Tab --}}
                <div class="tab details grid" data-group="primary" data-tab="details">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
                {{!-- Experience Tab --}}
                <div class="tab experience grid" data-group="primary" data-tab="experience">
                    <div class="attributes text">Attributes</div>
                    <div class="paths text">Paths</div>
                    <div class="virtues text">Virtues</div>
                </div>
            </section>
        </div>
</form>