<div id="callingsList" class="popout callingsList flex-col height100">
    <div id="callingsSource" class="flex-col" data-binid="callingsSource">
        {{#each available.patron as |calling|}}
        <span class="calling callingHandle patron noFlex {{checkInvalid "calling:patron" calling}}" data-calling="{{calling}}">
            {{loc (concat "scion.calling." calling ".name")}}
        </span>
        {{/each}}        
        {{#each available.other as |calling|}}
        <span class="calling callingHandle noFlex {{checkInvalid "calling:other" calling}}" data-calling="{{calling}}">
            {{loc (concat "scion.calling." calling ".name")}}
        </span>
        {{/each}}        
    </div>
</div>