<div id="knacksList" class="popout knacksList flex-col alignCenter">
    <div id="knacksSource" class="flex-col knackBin knackSource" data-binid="knacksSource-{{name}}">
        {{#if (test availableKnacks.any_immortal "||" availableKnacks.any_heroic)}}
        {{#each availableKnacks.any_immortal as |knack|}}
        <span class="tooltip tipLeft knack knackHandle immortal noFlex {{checkInvalid "knack:immortal" knack ../name}}" data-calling="any" data-knack="{{knack}}">
            <div class="tipContents alignLeft">
                <h2 class="alignCenter">{{loc (concat "scion.knack." knack ".name")}}</h2>
                <p>
                    {{{loc (concat "scion.knack." knack ".description")}}}
                </p>
                <i></i>
            </div>
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{#each availableKnacks.any_heroic as |knack|}}
        <span class="tooltip tipLeft knack generic knackHandle noFlex {{checkInvalid "knack:heroic" knack ../name}}" data-calling="any" data-knack="{{knack}}">
            <div class="tipContents alignLeft">
                <h2 class="alignCenter">{{loc (concat "scion.knack." knack ".name")}}</h2>
                <p>
                    {{{loc (concat "scion.knack." knack ".description")}}}
                </p>
                <i></i>
            </div>
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{/if}}
        {{#if (test availableKnacks.immortal "||" availableKnacks.heroic)}}
        <h1 class="knackCategory alignCenter">{{loc (concat "scion.calling." name ".name")}}</h1>
        {{#each availableKnacks.immortal as |knack|}}
        <span class="tooltip tipLeft knack knackHandle immortal noFlex {{checkInvalid "knack:immortal" knack ../name}}" data-calling="{{../name}}" data-knack="{{knack}}">
            <div class="tipContents alignLeft">
                <h2 class="alignCenter">{{loc (concat "scion.knack." knack ".name")}}</h2>
                <p>
                    {{{loc (concat "scion.knack." knack ".description")}}}
                </p>
                <i></i>
            </div>
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{#each availableKnacks.heroic as |knack|}}
        <span class="tooltip tipLeft knack knackHandle noFlex {{checkInvalid "knack:heroic" knack ../name}}" data-calling="{{../name}}" data-knack="{{knack}}">
            <div class="tipContents alignLeft">
                <h2 class="alignCenter">{{loc (concat "scion.knack." knack ".name")}}</h2>
                <p>
                    {{{loc (concat "scion.knack." knack ".description")}}}
                </p>
                <i></i>
            </div>
            {{loc (concat "scion.knack." knack ".name")}}
        </span>
        {{/each}}
        {{/if}}
    </div>
</div>