{{!-- Sheet Tab Navigation --}}
<nav class="chargen-tabs flex-row width100 tabs padded" data-group="chargen">
    <a class="item" data-tab="step-one">{{loc "scion.heading.chargen.stepOneTab"}}</a>
    <a class="item" data-tab="step-two">{{loc "scion.heading.chargen.stepTwoTab"}}</a>
    <a class="item" data-tab="step-three">{{loc "scion.heading.chargen.stepThreeTab"}}</a>
    <a class="item" data-tab="step-four">{{loc "scion.heading.chargen.stepFourTab"}}</a>
    <a class="item" data-tab="step-five">{{loc "scion.heading.chargen.stepFiveTab"}}</a>
    <a class="item" data-tab="step-six">{{loc "scion.heading.chargen.stepSixTab"}}</a>
    <a class="item" data-tab="step-seven">{{loc "scion.heading.chargen.stepSevenTab"}}</a>
</nav>
<section class="flex-col chargen-body width100 height100">
    <section class="tab" data-group="chargen" data-tab="step-one">            
        {{> (blocks.chargen.step-one.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-two">
        {{> (blocks.chargen.step-two.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-three">
        {{> (blocks.chargen.step-three.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-four">
        {{> (blocks.chargen.step-four.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-five">
        {{> (blocks.chargen.step-five.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-six">
        {{> (blocks.chargen.step-six.template) }}
    </section>
    <section class="tab" data-group="chargen" data-tab="step-seven">
        {{> (blocks.chargen.step-seven.template) }}
    </section>
</section>