<section class="chargenThree flex-col width100 padded">
    <h1>{{loc "scion.heading.chargen.stepThree"}}</h1>
    <div class="dotline mirrorContainer">
        <div id="chargenThreeDotMirror" class="dotContainer mirrorContainer"></div>
    </div>
    <div class="grid height100 width100">
        <h2 class="skillHeader noBG">{{loc "scion.heading.chargen.stepThreeA"}}</h2>
        <div class="skills padded flex-col">
            {{#each skillVals as |value skill|}}
                <div class="dotline">
                    <div class="label">{{loc (concat "scion.skill." skill)}}</div>
                    <div class="dotContainer blanks">{{#for 5}}<span class="dot"></span>{{/for}}</div>
                    <div class="chargenThreeDotBin dotBin dotContainer fader" data-types="skill|general" data-skill="{{skill}}" data-binid="{{skill}}" data-field="data.skills.list.{{skill}}.assigned">
                        {{#for value}}
                            <span class="dot" data-types="{{dottype "skill" skill @index}}"></span>
                        {{/for}}
                    </div>
                </div>
                {{#for (math (count (lookup ../skillSpecialties skill)) "--")}}
                <div class="dotline"></div>
                {{/for}}
            {{/each}}
        </div>
        <h2 class="specHeader noBG">{{loc "scion.heading.chargen.stepThreeB"}}</h2>
        <div class="specialties padded flex-col">
            {{#each skillVals as |value skill|}}
                {{#if (test (count (lookup ../skillSpecialties skill)) "==" 0)}}
                <div class="specialty empty"></div>
                {{else}}
                <div class="specialty">
                    <div class="specialtyInput insetFrame contentEditable alignLeft" data-field="data.skills.list.{{skill}}.specialties.list.0" data-placeholder="{{case (article (loc "scion.heading.chargen.specialtyPlaceholder" "skill" (concat "scion.skill." skill))) "Sentence"}}"></div>
                </div>
                {{/if}}
                {{#for (math (count (lookup ../skillSpecialties skill)) "--")}}                
                <div class="specialty">
                    <div class="specialtyInput insetFrame contentEditable alignLeft" data-field="data.skills.list.{{skill}}.specialties.list.{{math @index "++"}}" data-placeholder="{{case (loc "scion.heading.chargen.specialtyPlaceholder" "skill" (concat "scion.skill." skill)) "Sentence"}}"></div>
                </div>
                {{/for}}
            {{/each}}
        </div>
        <h2 class="attrHeader noBG">{{loc "scion.heading.chargen.stepThreeC"}}</h2>
        <div class="attributes flex-col-stretch">  
            <div id="chargenThreeArenaMirror" class="mirrorContainer"></div>
            <div id="arenaContainer" class="flex-col-stretch-spaceBetween height100">
                {{#each arenaPriorities as |arena|}}
                    <div class="attribute-block" data-arena="{{arena}}">
                        <h3 class="handle">{{loc (concat "scion.heading.chargen." arena "Arena")}}</h3>
                        {{#with (lookup ../arenas arena) as |attributes|}}
                        {{#each attributes as |value attribute|}}  
                        <div class="dotline">
                            <div class="label">{{loc (concat "scion.attribute." attribute)}}</div>
                            <div class="dotContainer blanks">{{#for 5}}<span class="dot"></span>{{/for}}</div>
                            <div class="chargenThreeDotBin dotBin dotContainer fader" data-types="attribute|{{arena}}" data-attribute="{{attribute}}" data-binid="{{attribute}}" data-field="data.attributes.list.{{attribute}}.assigned">
                            {{#for value}}
                                <span class="dot" data-types="{{dottype "attribute" attribute @index}}"></span>
                            {{/for}}
                            </div>
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                {{/each}}
            </div>       
            <div class="favoredApproach alignCenter">
                <h3>{{loc "scion.heading.chargen.favoredApproach"}}</h3>
                <select id="favoredApproachSelect" class="contentEditable insetFrame" name="data.attributes.favoredApproach" required>
                    <option name="" value="" selected hidden disabled></option>
                    {{selectOptions config.favoredApproachList selected=data.attributes.favoredApproach}}
                </select>
            </div>
        </div>
        <div class="unspentDots unspentSkillDots flex-col alignCenter">
            <h2 class="alignCenter noBG">{{#if unspentSkillDots}}{{loc "scion.heading.chargen.unassignedSkillDots"}}{{/if}}</h2>
            <div class="dotline unassigned dots10 noLabel">
                <div class="chargenThreeDotBin dotBin dotContainer fader" data-types="unassigned|skill" data-binid="unassignedSkill">
                    {{#for unspentSkillDots}}
                    <span class="dot" data-types="unassigned|skill|general"></span>
                    {{/for}}
                </div>
            </div>
        </div>
        <div class="unspentDots unspentAttrDots flex-col alignCenter">
            <h2 class="alignCenter noBG">{{#if unspentAttributeDots}}{{loc "scion.heading.chargen.unassignedAttributeDots"}}{{/if}}</h2>
            <div class="dotline unassigned dots10 noLabel">
                <div class="chargenThreeDotBin dotBin dotContainer fader" data-types="unassigned|attribute" data-binid="unassignedAttribute">
                {{#each unspentArenaDots as |arena|}}
                    <span class="dot" data-types="unassigned|attribute|{{arena}}"></span>
                {{/each}}
                {{#for unspentGeneralAttrDots}}
                    <span class="dot" data-types="unassigned|attribute|general"></span>
                {{/for}}
                </div>
            </div>            
        </div>
    </div>
</section>