<section class="chargenThree flex-col width100 padded">
    <h1>{{loc "scion.heading.chargen.stepThree"}}</h1>
    <div class="grid height100 width100">
        <h2 class="skillHeader noBG">{{loc "scion.heading.chargen.stepThreeA"}}</h2>
        <div class="skills padded flex-col">
            {{#each skillVals as |value skill|}}
                <div class="dotline-labelled">
                    <div class="label alignLeft">{{loc (concat "scion.skill." skill)}}</div>
                    {{#for 5}}
                        <span class="dot{{#if (gte value @index)}}-full{{/if}}"></span>
                    {{/for}}
                </div>
                {{#for (math (count (lookup ../skillSpecialties skill)) "--")}}
                <div class="dotline-labelled"></div>
                {{/for}}
            {{/each}}
        </div>
        <div class="specialties padded flex-col">
            {{#each skillVals as |value skill|}}
                {{#if (test (count (lookup ../skillSpecialties skill)) "==" 0)}}
                <div class="specialty empty"></div>
                {{else}}
                <div class="specialty">
                    <div class="specialtyInput insetFrame contentEditable alignLeft" data-field="data.skills.list.{{skill}}.specialties.list.0" data-placeholder="{{case (article (loc "scion.heading.chargen.specialtyPlaceholder" "skill" (concat "scion.skill." skill))) "Sentence"}}"></div>
                </div>
                {{/if}}
                {{#for (math (count (lookup ../skillSpecialties skill)) "--")}}                
                <div class="specialty">
                    <div class="specialtyInput insetFrame contentEditable alignLeft" data-field="data.skills.list.{{skill}}.specialties.list.{{math @index "++"}}" data-placeholder="{{case (loc "scion.heading.chargen.specialtyPlaceholder" "skill" (concat "scion.skill." skill)) "Sentence"}}"></div>
                </div>
                {{/for}}
            {{/each}}
        </div>
        <h2 class="attrHeader noBG">{{loc "scion.heading.chargen.stepThreeB"}}</h2>
        <div id="arenaContainer" class="attributes">
            {{#each arenaPriorities as |arena|}}
                <div class="attribute-block" data-arena="{{arena}}">
                    <h3>{{loc (concat "scion.heading.chargen." arena "Arena")}}</h3>
                    {{#with (lookup ../arenas arena) as |attributes|}}
                    {{#each attributes as |value attribute|}}                    
                    <div class="dotline-labelled">
                        <div class="label alignLeft">{{loc (concat "scion.attribute." attribute)}}</div>
                        {{#for 5}}
                            <span class="dot{{#if (test value ">=" @index)}}-full{{/if}}"></span>
                        {{/for}}
                    </div>
                    {{/each}}
                    {{/with}}
                </div>
            {{/each}}
        </div>
        <div class="unspentDots unspentSkillDots flex-col alignCenter">
            <h2 class="alignCenter noBG">Unspent Skill Dots</h2>            
            <div class="flex-row-wrap alignCenter width100">
                {{#for unspentSkillDots}}
                <span class="dot-unspent" data-dottype="skill"></span>
                {{/for}}
            </div>
        </div>
        <div class="unspentDots unspentAttrDots flex-col alignCenter">
            <h2 class="alignCenter noBG">Unspent Attribute Dots</h2> 
            {{#if unspentGeneralAttrDots}}
            <div class="flex-row-wrap alignCenter width100">                    
                {{#for unspentGeneralAttrDots}}
                    <span class="dot-unspent" data-dottype="attribute"></span>
                {{/for}}
            </div>
            {{/if}}
            {{#if unspentArenaDots}}
            <div class="flex-row-wrap alignCenter width100">
            {{#each unspentArenaDots as |arena|}}
                {{#if (test (test (math @index "%" 10) "==" 0) "&&" (test @index ">" 1))}}</div><div class="flex-row-wrap alignCenter width100">{{/if}}
                <span class="dot-unspent alignCenter" data-dottype="{{arena}}Attr"></span>
            {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</section>