<form class="{{cssClass}} grid main" autocomplete="off">

    {{!-- Sheet Header --}}
    <section class="header">
        <h1 class="title alignCenter">{{localize (concat "scion.paths." item.name "Path")}}</h1>
        <div class="h2 contentEditable quote alignCenter" data-path="data.title" data-placeholder="{{localize "scion.headings.path.titlePrompt"}}"></div>
    </section>
        
    <section class="sheet-body flex fullSize flexColumn">
        <h2>{{localize "scion.paths.skills"}}</h2>
        <div class="pathSkills flex fullFlex flexRow">
        {{#if data.skills.[2]}}
            {{#each data.skills as | skill |}}
                <div class="text alignCenter">{{localize (concat "scion.skills." skill)}}</div>
            {{/each}}
        {{else}}
            <h3>Path Skill Selection</h3>
        {{/if}}
        </div>
            <h2>{{localize "scion.paths.connections"}}</h2>
        <div class="pathConnections flex fullFlex">
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
            <div class="connection text">Connection</div>
        </div>
        <h2>{{localize "scion.paths.condition"}}</h2>
        <div class="pathCondition">
            <h3>Path Condition Link Here</h3>
        </div>
    </section>
    
</form>
