<form class="{{cssClass}} flex-col-max main" autocomplete="off">
    {{!-- <div class="tooltip">{{> (blocks.tooltips.condition.template) tooltip}}</div> --}}
    {{!-- Sheet Header --}}
    <section class="header width100">
        <h1 class="title alignCenter">{{loc (concat "scion.condition." data.type)}}</h1>
        {{~#if data.isPersistent}}<h2 class="alignCenter"><input class="h2 toggleBox" type="checkbox" value="{{data.isPersistent}}">{{loc "scion.condition.persistent"}}</h2>{{/if~}}
        <div id="conditionTitle" class="h2 contentEditable quote alignCenter" data-field="data.title" data-placeholder="{{loc "scion.heading.condition.titlePrompt"}}"></div>
    </section>
        
    <section class="sheet-body flex-col spaceBetween">
        <h2 class="alignCenter">{{loc "scion.condition.effect"}}</h2>
        <div id="conditionEffect" class="conditionEffect contentEditable alignLeft" data-field="data.effect.description" data-placeholder="{{loc "scion.heading.condition.effectPrompt"}}"></div>
        <h2 class="alignLeft">{{loc "scion.condition.resolution"}}</h2>
        <div id="conditionResolution" class="conditionResolution contentEditable alignLeft" data-field="data.resolution" data-placeholder="{{loc "scion.heading.condition.resolutionPrompt"}}"></div>
    </section>    
</form>
