<form class="{{cssClass}} flex-col-max main" autocomplete="off">

    {{!-- Sheet Header --}}
    <section class="header width100">
        <h1 class="title alignCenter">{{localize (concat "scion.paths." data.type "Path")}}</h1>
        <div class="h2 contentEditable quote alignCenter" data-field="data.title" data-placeholder="{{localize "scion.headings.path.titlePrompt"}}"></div>
    </section>
        
    <section class="sheet-body flex-col spaceBetween">
        <div class="clickable openPopout pathSkills skillDrop flex-row-max-start" data-htmlID="skillList">
            {{#each data.skills as |skill|}}
            {{#if skill}}
            <span class="clickable openPopout skill noFlex
            {{~#if (lte @index 1)}}{{#if (eq ../data.type "pantheon")}} pantheon{{/if}}{{/if}}" data-skill="{{skill}}">{{localize (concat "scion.skills." skill)}}</span>
            {{/if}}
            {{/each}}
            {{> (blocks.skillList.template) }}
        </div>
        <div class="pathConnections flex-full-center alignCenter">
            <h2 class="gold">{{localize "scion.paths.connections"}}</h2>
            <div class="bubble connection group dots">
                    <div class="bubbleWrap">
                <span>Group</span>
                <span class="bubbleTitle">Adoring Fans</span>
            </div>
            </div>
            <div class="bubble connection group dots">
                    <div class="bubbleWrap">
                <span class="bubbleTitle">Obsessed Goths</span>
                <span>Group</span>
            </div>
            </div>
            <div class="bubble connection access dots">
                    <div class="bubbleWrap">
                <span class="bubbleTitle">Access</span>
                <span>Accompaniment</span>
            </div>
            </div>
            <div class="bubble connection access dots">
                    <div class="bubbleWrap">
                <span class="bubbleTitle">Access</span>
                <span>Age Is No Obstacle</span>
            </div>
            </div>
            <div class="bubble connection contact dots">
                    <div class="bubbleWrap">
                <span class="bubbleTitle">Contact</span>
                <span>Mikaela Whitechapel-Diaz</span>
            </div>
            </div>
        </div>
        
        <div class="pathCondition flex-full alignCenter">
            <h2 class="gold">{{localize "scion.paths.condition"}}</h2>
            <div class="bubble condition">
                    <div class="bubbleWrap">
                <span class="bubbleTitle">Murder of Crows</span>
                <p>Ominous crows invoke Rhys’ geas to give him a command on behalf of the Morrigan.  Resolved when Rhys follows the command, or makes a major sacrifice to the Morrigan.</p>
            </div>
            </div>
        </div>
    </section>
    
</form>
