<form class="{{cssClass}} flex-col-max main" autocomplete="off">
    <div class="tooltip">{{> (blocks.tooltips.path.template) tooltip}}</div>
    {{!-- Sheet Header --}}
    <section class="header width100">
        <h1 class="title alignCenter">{{loc (concat "scion.path." data.type "Path")}}</h1>
        <div id="pathTitle" class="h2 contentEditable quote alignCenter" data-field="data.title" data-placeholder="{{loc "scion.heading.path.titlePrompt"}}"></div>
    </section>
        
    <section class="sheet-body flex-col spaceBetween">
        <div id="pathSkills" class="pathSkills skillDrop flex-row-max-start" data-htmlID="skillList">
            {{#each data.skills as |skill|}}
            {{#if skill}}
            <span class="skill noFlex
            {{~#if (lte @index 1)}}{{#if (eq ../data.type "pantheon")}} pantheon{{/if}}{{/if}}" data-skill="{{skill}}">{{loc (concat "scion.skill." skill)}}</span>
            {{/if}}
            {{/each}}            
        </div>
        {{> (blocks.skillList.template) }}
        <div class="pathConnections width100 alignCenter">
            <h2>{{loc "scion.path.connections"}}</h2>
            <div class="richEditContainer">
                <div class="pathConnectionsEditor alignLeft height100" contenteditable="true" spellcheck="false"></div>
            </div>
        </div>
        <div class="pathCondition flex-full alignCenter">
            <h2>{{loc "scion.path.conditions"}}</h2>
            {{#each conditions as |condition type|}}
                {{#with ../blocks as | blocks |}}
                {{> (blocks.embeds.pathCondition.template) condition}}
                {{/with}}
            {{/each}}
        </div>
    </section>
    
</form>
